<section>
    <a href="/workout/{{id}}"></a>
    <header>{{title}}</header>
    <div>
        <p>Category:{{category}}</p>
        <p>Description: {{body}}</p>
        <button>Delete This Workout</button>
    </div>
</section>