<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Intentional Health</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <nav class="navbar container is-fluid" role="navigation" aria-label="main navigation">
    <div class="container">
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/login">login</a>
        </div>
        
        <div class="navbar-end">
          <div class="navbar-item">
            <a id="Homelink" class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/workouts">Workouts</a>
            <a class="navbar-item" href="/goals">Goals</a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <section>
    <div class="bg-image section is-medium is-size-1 is-italic is-family-primary title is-2">
    <h1 class="has-text-weight-bold is-italic has-text-black has-text-centered is-size-1">Intentional Health</h1>
    {{#if logged_in}}|
    <button>Logout</button>
    {{else}}
    <!--<a href="/login">login</a>-->
    {{/if}}
    </div>
  </section>
  <main>
    <div>
      {{{body}}}
    </div>
  </main>
  <div>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </div>
</body>

</html>>
</body>

</html>

