<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Intentional Health</title>
</head>

<body>
  <header>
    <h1>Intentional Health</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/">Profile</a>
    <a href="/">Workouts</a>
    <a href="/">Goals</a>
    <a href="/">Calendar</a>
  </nav>
  <main>
    <div>
        <p></p>
    </div>
    <div>
      {{{body}}}
    </div>
  </main>
</body>

</html>