<section>
    <h2>My Goals</h2>
    <p>Everyone has goals and we aim to helping you achieve yours!</p>
    <p>Click the Create New Goal button below to start tracking your progress with us!</p>
    <button>Create New Goal</button>
</section>
<section>
    {{#each goal-card as |goal|}}
    {{/each}}
</section>
