<h2>Home</h2>

<p>Are you able to keep track of your workout regimen and keep up with workout plans all in your head? Could you use
    help tracking your fitness goals? With Intentional Health you can save your workouts, schedule them, and map out
    your goals. We've got the tools to help you stay on track and achieve your goals.</p>

<div>
    <h2>My Profile</h2>
    <p id="totalWorkouts"></p>
    <p id="totalGoals"></p>
    <p id="dateJoined"></p>
</div>