<!--<h2 class="subtitle is-3 has-text-centered container is-fluid">
    Home
</h2>

<p>
    Are you able to keep track of your workout regimen and keep up with workout plans all in your head? Could you use
    help tracking your fitness goals? With Intentional Health you can save your workouts, schedule them, and map out
    your goals. We've got the tools to help you stay on track and achieve your goals.
</p>

<div class="container-is-fluid has-text-centered">
    <h2 class="is-underlined content is-size-2 has-text-centered " >My Profile</h2>
        <div class="columns">
            <div class="column is-auto">
                <p id="totalWorkouts"> Total Workouts</p>
            </div>
            <div class="column is-auto">
                <p id="totalGoals"> Total Goals</p>
            </div>
            <div class="column is-auto">
                <p id="goalsReached"> Goals Reached</p>
            </div>
            <div class="column is-auto">
                <p id="dateJoined"> Date Joined</p>
            </div>
        </div>
</div>-->

<body class="mx-3">
    <h2 class="subtitle is-3 has-text-centered container is-fluid">
        Home
    </h2>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-primary">
                        <p class="title" id="totalWorkouts">Total Workouts</p>
                        <p class="subtitle ">Your workouts will appear here</p>
                    </article>
                    <article class="tile is-child notification is-warning">
                        <p class="title">...tiles</p>
                        <p class="subtitle">Bottom tile</p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-info text-is-centered">
                        <p class="title text-is-centered">Welcome to Intentional Health</p>
                        <p class="subtitle pt-3"> Are you able to keep track of   your workout regimen and keep up with workout
                            plans all in your head? Could you use
                            help tracking your fitness goals? With Intentional Health you can save your workouts,
                            schedule them, and map out
                            your goals. We've got the tools to help you stay on track and achieve your goals.</p>
                        <figure class="image is-4by3">
                            <img src="https://previews.123rf.com/images/alekseyvanin/alekseyvanin2001/alekseyvanin200101470/139016628-seamless-workout-sport-pattern-fitness-and-gym-icons-pattern-background-vector-graphics.jpg">
                        </figure>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-danger">
                    <p class="title has-text-centered">Date Joined</p>
                    <p class="subtitle">You joined ....</p>
                    <div class="content">
                        <!-- Content -->
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-success">
                <div class="content">
                    <p class="title">Tall tile</p>
                    <p class="subtitle">With even more content</p>
                    <div class="content">
                        <!-- Content -->
                    </div>
                </div>
            </article>
        </div>
    </div>
</body>