<h2>Login</h2>

<form>
  <div>
    <label>Email:</label>
    <input/>
  </div>
  <div>
    <label>Password:</label>
    <input/>
  </div>
  <div>
    <button>Login</button>
  </div>
</form>
<form>
  <div>
    <label>Email:</label>
    <input/>
  </div>
  <div>
    <label>Password:</label>
    <input/>
  </div>
  <div>
    <label>Confirm Password:</label>
    <input/>
  </div>
  <div>
    <button>Register</button>
  </div>
</form>

<script src="/public/js/login.js"></script>