<header class="container">
  <h2 class="notification is-size-2 has-text-centered container-is-fluid">Login</h2>
  <article class="message is-link has-text-centered container-is-fluid">
    <div class="message-header">
      <p>Login</p>
      <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      If you already have an account please sign in using your email and password
    </div>
  </article>
</header>
<section class="container mx-auto my-3">
  <form class="box login-form">
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="email" placeholder="e.g. test@example.com" id="loginemail">
      </div>
    </div>
  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="********" id="loginpassword">
    </div>
  </div>

  <button class="button is-primary" type="submit">Sign-in</button>
</form>

<section class="container">
  <h2 class="notification is-size-2 has-text-centered container-is-fluid">Sign-up</h2>
    <article class="message is-link has-text-centered container-is-fluid">
      <div class="message-header">
        <p>Sign-up</p>
        <button class="delete" aria-label="delete"></button>
      </div>
    <div class="message-body">
      If you have not created an account yet please enter your email and password below to become part of our amazing community!
    </div>
  </article>
</section>
  <form class="box signup-form">
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="email" placeholder="e.g. test@example.com" id="signupemail">
      </div>
    </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="********" id="signuppassword">
    </div>
  </div>

  <label class="checkbox">
    <input type="checkbox">
  I agree to the <a href="#">terms and conditions</a>
  </label>
    <button class="button is-primary" type="submit">Sign up</button>
  </form>
</section>

<script src="/public/js/login.js"></script>