<h2>Login</h2>

<p>Are you able to keep track of your workout regimen and keep up with workout plans all in your head? Could you use
  help tracking your fitness goals? With Intentional Health you can save your workouts, schedule them, and map out
  your goals. We've got the tools to help you stay on track and achieve your goals.</p>

<form>
  <div>
    <label>Email:</label>
    <input />
  </div>
  <div>
    <label>Password:</label>
    <input />
  </div>
  <div>
    <button>Login</button>
  </div>
</form>
<form>
  <div>
    <label>Email:</label>
    <input />
  </div>
  <div>
    <label>Password:</label>
    <input />
  </div>
  <div>
    <label>Confirm Password:</label>
    <input />
  </div>
  <div>
    <button>Register</button>
  </div>
</form>

<script src="/public/js/login.js"></script>