.bg-img {
    background-image: url(https://img.freepik.com/premium-photo/healthy-lifestyle-accessories-green-background_185193-41701.jpg) ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}