.bg-image {
    background-image: url(https://media.istockphoto.com/id/1149514483/vector/sport-fitness-functional-training-background-seamless-doodle-icons-style-pattern.jpg?s=612x612&w=0&k=20&c=vdsprApW6yrR4f-XQw4v3FPtWEGIzbwAvuLbAlLIoEo=);
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;

}